.sortingContainer{
    position: fixed;
    top: 0;
    bottom: 10vh;
    background-color: darkgray;
    width: 100%;
}

.sortingContent{
    margin-top: 15vh;
}

.bar{
    background-color: lightblue;
    display: inline-block;
    margin: 0 1px;
}



.map{
    width: 100%;
}