.container{
    position: absolute;
    bottom: 10vh;
    background-color: darkgray;
    width: 100%;
}

.bar{
    background-color: lightblue;
    display: inline-block;
    margin: 0 1px;
}

.map{
    width: 100%;
}