.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
  width: 50vw; /* Set the width to roughly 2/3 of the viewport width */
  margin: 0 auto; /* Center the grid container horizontally */
}

.grid-row {
  display: flex;
}

.grid-input {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: 100%; /* Fill the available width within the grid cell */
  height: 100%; /* Fill the available height within the grid cell */
  visibility: visible;
}

.grid-cell{
  flex: 1;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  visibility: hidden;
}

