.visualizer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.visualizer {
  display: grid;
  grid-template-columns: repeat(50, 1.5vw);
  grid-template-rows: repeat(20, 1.5vw);
  grid-gap: 1px;
  background-color: #ccc;
  width: fit-content;
  padding: 10px;
  margin: auto;
  border: 1px solid #000;
  box-sizing: border-box;
  padding-bottom: 2%;
  margin-top: 5vh;
}
