.node {
  width: 100%; 
  height: 100%;
  padding-bottom: 100%;
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  background-color: white; 
  /* add in a small transition for node color change */
  transition: background-color 0.1s;
}

/* color of a wall node */
.node.wall {
  background-color: black;
}

/* color of a start node */
.node.start {
  background-color: green;
}

/* color of an end node */
.node.end {
  background-color: red;
}

/* color of a visited node */
.node.visited {
  background-color: turquoise; 
}

/* color of a node in the shortest path */
.node.shortest-path {
  background-color: yellow; 
}